[Unit]
Description=dataplaneapi.service

# This service should run after haproxy.service
After=haproxy.service
Wants=haproxy.service

[Install]
WantedBy=multi-user.target

[Service]
TimeoutSec=0
Restart=always
EnvironmentFile=/etc/haproxy/dataplaneapi.cfg
WorkingDirectory=/var/lib/haproxy
Slice=dataplaneapi.slice

ExecStart=/usr/local/bin/dataplaneapi \
  --log-level=${LOG_LEVEL} \
  --log-to=${LOG_TO} \
  --scheme=${SCHEME} \
  --haproxy-bin=${HAPROXY_BIN} \
  --config-file=${CONFIG_FILE} \
  --reload-cmd=${RELOAD_CMD} \
  --reload-delay=${RELOAD_DELAY} \
  --tls-host=${TLS_HOST} \
  --tls-port=${TLS_PORT} \
  --tls-certificate=${TLS_CERTIFICATE} \
  --tls-key=${TLS_KEY} \
  --userlist=${USERLIST} ${ADDITIONAL_FLAGS}
