[Unit]
Description=net-postconfig.service

# This service *must* run after the ovfenv has been parsed and before haproxy starts
After=network-online.target cloud-final.service
Wants=network-online.target
Before=haproxy.service

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
TimeoutSec=0
WorkingDirectory=/var/lib/vmware

# Create the log directory.
ExecStartPre=/bin/mkdir -p /var/log/vmware

# The script that sets up the anyip routes
ExecStart=/bin/sh -c '/var/lib/vmware/net-postconfig.sh 2>&1 | tee -a /var/log/vmware/net-postconfig.log'
