[Unit]
Description=ovf-to-cloud-init.service

# This service *must* run before the first cloud-init service
Before=cloud-init-local.service

# Always run this service. It has the appropriate logic to exit if nothing needs doing

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
TimeoutSec=0
WorkingDirectory=/var/lib/vmware

# Ensure the VMware directories exist
ExecStartPre=/bin/mkdir -p /etc/vmware /var/log/vmware

# The script that transforms the OVF data into cloud-init data and sets it in guest info
ExecStart=/bin/sh -c '/var/lib/vmware/ovf-to-cloud-init.sh 2>&1 | tee -a /var/log/vmware/ovf-to-cloud-init.log'
