# Creates Any IP routes for each network CIDR defined in
# in /etc/vmware/anyip-routes.cfg.

[Unit]
Description=anyip-routes.service

# This service *must* run after cloud-init has completed and networking is
# online, but before HAProxy has started.
After=cloud-final.service route-tables.service systemd-networkd.service
Before=haproxy.service

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
TimeoutSec=0
WorkingDirectory=/var/lib/vmware

# Create the log directory.
ExecStartPre=/bin/mkdir -p /var/log/vmware

# Watch the config file for changes.
ExecStart=/bin/sh -c '/var/lib/vmware/anyiproutectl.sh watch 2>&1 | tee -a /var/log/vmware/anyip-routes.log'

# Remove the Any IP routes.
ExecStop=/bin/sh -c '/var/lib/vmware/anyiproutectl.sh down 2>&1 | tee -a /var/log/vmware/anyip-routes.log'
