# Copyright 2020 HAProxy Technologies
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http:#www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
---
- name: Create /etc/vmware
  file:
    path: /etc/vmware
    owner: root
    group: root
    mode: "0755"
    state: directory

- name: Create /var/lib/vmware
  file:
    path: /var/lib/vmware
    owner: root
    group: root
    mode: "0755"
    state: directory

- name: Copy management network link configuration
  copy:
    src: files/etc/systemd/network/10-mgmt.link
    dest: /etc/systemd/network/10-mgmt.link
    owner: systemd-network
    group: systemd-network
    mode: "0644"

- name: Copy workload network link configuration
  copy:
    src: files/etc/systemd/network/10-workload.link
    dest: /etc/systemd/network/10-workload.link
    owner: systemd-network
    group: systemd-network
    mode: "0644"

- name: Copy frontend network link configuration
  copy:
    src: files/etc/systemd/network/10-frontend.link
    dest: /etc/systemd/network/10-frontend.link
    owner: systemd-network
    group: systemd-network
    mode: "0644"

- name: Create anyip-routes service configuration file
  copy:
    src: files/etc/vmware/anyip-routes.cfg
    dest: /etc/vmware/anyip-routes.cfg
    owner: root
    group: root
    mode: "0644"

- name: Create anyiproutectl script
  copy:
    src: files/var/lib/vmware/anyiproutectl.sh
    dest: /var/lib/vmware/anyiproutectl.sh
    owner: root
    group: root
    mode: "0744"

- name: Create anyip-routes service
  copy:
    src: files/etc/systemd/system/anyip-routes.service
    dest: /etc/systemd/system/anyip-routes.service
    owner: root
    group: root
    mode: "0644"

- name: Enable anyip-routes service
  systemd:
    name: anyip-routes
    enabled: yes
    daemon_reload: yes
    state: stopped

- name: Create route-table service configuration file
  copy:
    src: files/etc/vmware/route-tables.cfg
    dest: /etc/vmware/route-tables.cfg
    owner: root
    group: root
    mode: "0644"

- name: Create routetablectl script
  copy:
    src: files/var/lib/vmware/routetablectl.sh
    dest: /var/lib/vmware/routetablectl.sh
    owner: root
    group: root
    mode: "0744"

- name: Create route-tables service
  copy:
    src: files/etc/systemd/system/route-tables.service
    dest: /etc/systemd/system/route-tables.service
    owner: root
    group: root
    mode: "0644"

- name: Enable route-tables service
  systemd:
    name: route-tables
    enabled: yes
    daemon_reload: yes
    state: stopped
